/* Header */
.header {
  background: white;
 
}

/* Links in Header */
.header a {
  text-decoration: none;
}

/* Logo Image */
.imagen img { 
max-width: 100%;
height: auto;
margin-top: 100px;
} 
 

/* Button Styles */
.boton {
  background-color: transparent;
  color: #52878E;
  border: 2px solid transparent;
  border-radius: 10px;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  
}

.boton:hover {
  background-color: #1B3F45;
  color: white;
  border-color: transparent;
}

.boton_comenzar
{
  background-color: #2c2c2c;
  color: white;
  border: 2px solid transparent;
  border-radius: 10px;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  margin-top: -80px;
}

.boton_registrar button 
{
  display: flex;
  justify-content: left;
  align-items: left;
  text-align: left;
  background-color: #2c2c2c;
  color: white;
  border: 2px solid transparent;
  border-radius: 10px;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;

  margin-top: -170px;
}

.boton_registrar button:hover {
  background-color: #1B3F45;
  color: white;
  border-color: transparent;
}

.boton_comenzar:hover {
  background-color: #1B3F45;
  color: white;
  border-color: transparent;
}

a
{
  text-decoration:none ;
}

.centrar 
{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


/* Section 1 Text */
.section1-text1 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 40px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 500px;
  overflow-wrap: break-word; 
}

.section1-text2 {
  font-size: 24px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
   margin-top:-150px;
  overflow-wrap: break-word;
}

/* Section 2 Text */

.section2-text1 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 30px;
  color: #154457;
  display: flex;
  justify-content: left;
  align-items: left;
  text-align: left;
  width: 100%;
  overflow-wrap: break-word; 
}

.section2-text2 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 20px;
  color: #262626;
  display: flex;
  justify-content: left;
  align-items: left;
  text-align: left;
  width: 100%;
 margin-top: 30px;
  overflow-wrap: break-word;
}

.section3-text1 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 30px;
  color: #154457;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  overflow-wrap: break-word; 
  margin-top: 50px;
  
}

.section3-text2 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 20px;
  color: #262626;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
 margin-top: 30px;
  overflow-wrap: break-word;
}


.navbar {
  padding-top: 0.3rem;  /* Reduce el espacio superior */
  padding-bottom: 0.3rem;  /* Reduce el espacio inferior */
}

/* Container */
.container {
  margin: auto;
  padding: 0px;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
  text-align: center; /* Alinea el texto al centro */
}

.container_footer {
  margin: 0px;
  padding: 0px;
 color: white;
  width: auto;
  height: 100vh;
  display: flex;
 margin-top: auto;
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
  text-align: center; /* Alinea el texto al centro */
}

/* Section 1 Background */
.section1-background {
  background-image: url(/img/fondo.png); 
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
}
.section2-background {
  background-color: white;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
}
.section3-background
{
 background-color: #F5F5F5;
 background-size: cover;
 background-position: center;
 width: 100vw;
 height: auto;
 padding: 0;
 margin: 0;
 background-repeat: no-repeat;
}

 
.footer-background
{
  background-color: #154457;
  background-size: cover;
  background-position: center;
  width: auto;
  height: auto;
  padding: 0;
  margin-top: auto;
  background-repeat: no-repeat;
}
/* Usamos media queries para ajustar según el tamaño de la pantalla */
@media (max-width: 768px) 
{
  .section1-background {
    margin-top: 100px;
    height: 50vh; /* Reduce la altura en pantallas pequeñas */
  }
  .section2-background {
    height: auto;  /* Permite que el contenedor se ajuste según el contenido */
    min-height: 100vh; /* Asegura que el fondo siempre ocupe el alto de la pantalla */
    background-size: cover; /* Asegura que el fondo cubra el área */
  }
  
  .imagen img 
  {
    
    margin-top: 50px;
    width: 350px;
    height: 350px;
    
  }

  /* Section 1 Text */
  .section1-text1 {
  
    font-size: 30px;
   
 
 margin-top: -40px;
    width: 100%;
    height:250px;
  }

  .section1-text2 {
 
    font-size: 20px;
 
    margin-top: -80px;
  } 
  
  .section2-text1 {
 
    font-size: 30px;
   margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height:250px;
 
  }

  .section2-text2 {

    font-size: 20px;
   
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -80px;
  }
  .section3-text1 {
 
    font-size: 30px;
   margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height:250px;
 
  }

  .section3-text2 {

    font-size: 20px;
   
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -80px;
  }
  .boton_comenzar
  {
    margin-top:5px;
  }

  .boton_registrar
  {
    margin-top: -400px;
    margin-left: 200px;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .section1-background {
    height: 75vh; /* En pantallas medianas, se ajusta */
  }
}
