.header {
  background: white;
  color: blue;
  padding: 2mm 0;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
}

.seccion1, .seccion2 {
  min-height: 100vh; /* Asegura que cada sección ocupe el 100% de la ventana */
}

.logo-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: left;
  gap: 20px;
}

.header a {
  text-decoration: none;
}

.logo img {
  width: 75px;
  height: auto;
  margin-left: 40px;
}

.navigation-ul {
  margin-right: 60px;
  padding: 0;
  list-style: none;
}

.navigation-ul li {
  display: inline-block;
}

.navigation-ul li a button {
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.4s linear;
  border-radius: 5px;
  margin-top: 10px;
}

.boton {
  background-color: transparent;
  color: #52878E;
  border: 2px solid transparent;
  border-radius: 10px;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.boton:hover {
  background-color: #1B3F45;
  color: white;
  border-color: transparent;
}

.seccion1-title {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 65px;
  color: white;
  text-align: center;
  margin-top: 100px;
  margin-left: 325px;
  margin-right: 150px;
  width: 700px;
  overflow-wrap: break-word;
}

.seccion1-sub {
  display: flex;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 24px;
  color: white;
  text-align: center;
  margin-left: 265px;
  margin-top: -50px;
  width: 800px;
  overflow-wrap: break-word;
}

 .seccion1-conteiner-boton
 {
  display: flex; /* Activa flexbox */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
 }
.seccion1 a button {
 
  padding: 15px 10px;
  background-color: #1B3F45;
  color: white;
  border: 2px solid transparent;
  border-radius: 10px;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.seccion1-conteiner-background {
  background-image: url('https://img.freepik.com/fotos-premium/cirujanos-usan-gafas-realidad-aumentada-operacion_1136993-1912.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
}

.seccion2-conteiner-background {
  background-color: red;
  margin: 0;
  padding: 0;
}

.seccion2-title {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 65px;
  color: white;
  text-align: center;
  margin-top: 100px;
  margin-left: 325px;
  margin-right: 150px;
  width: 700px;
  overflow-wrap: break-word;
}

.seccion2-sub {
  display: flex;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 24px;
  color: white;
  text-align: center;
  margin-left: 265px;
  margin-top: -50px;
  width: 800px;
  overflow-wrap: break-word;
}

.seccion2-conteiner {
  display: flex; /* Activa flexbox */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}

.seccion2 a button {
  background-color: #1B3F45;
  color: white;
  border: 2px solid transparent;
  border-radius: 10px;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}
